<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>
    <% coder = PigLatinizer.new %>
    <p> <%= coder.piglatinize(@phrase) %> </p>
  </body>
</html>